
/* ...............
        font-styles
................. */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@500&display=swap');
body {font-family: 'Lobster', cursive;
   font-family: 'Poppins', sans-serif;}

/* ...............
first-part-styles
................. */


.first-section {
   
   display: flex;
   justify-content: space-between;
}

.left-side{ margin-left: 20px;
   width: 650px;}
   

.right-side-image img{
       width: 500px;
       background-image: url(images/Circle\ design.svg);
       background-repeat: no-repeat;
   }
.first-section h1{ 
   font-size: 50px;
}
.link-button{ 
padding: 10px 30px;
background-color: rgb(233, 13, 134);
color: white;
font-weight: 700;
font-size: 20px;
border-radius: 20px;
}
.fas{
   padding-left: 10px;
}
/* ............
second-part-style
................ */
.fas fa-star, .filled{ color: yellow;}
.fas fa-star, .empty{
   color: lightgrey;
}
.second-part{ margin-top: 100px; 
   

}

.second-part h1{
   text-align: center;
}
.product{ 
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
padding: 20px;
   margin-top: 30px;
width: 300px;
height: 500px;}
.all-products{
   display: grid;
      grid-template-columns: repeat(3, 1fr);
      flex-direction: column;
      justify-items: center;
      justify-content: space-between;
      margin-top: 50px;
   }
   .more-button a{
      text-decoration: none;
      color: rgb(233, 13, 134);
      font-weight: 700;
   }
   .more-button{ 
      margin-top: 70px;
text-align: right;
   }